.wrapper {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.input {
  border: 1px solid #eee;
  display: block;
  width: 20%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.1s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin: 0.5rem;
  padding: 1rem;
}

.addBtn {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  background: #fb1;
  transition: 0.1s;
  min-width: 4rem;
}

.addBtn:focus,
.addBtn:hover {
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}
